cache/
out/

# Ignore Environment Variables!
.env
.env.prod
*.env

# Ignore all vscode settings
.vscode/

# Ignore flattened files
flattened.txt
devops.txt

broadcast

# Ignore local misc files
.DS_Store
*.pem
